bleach==6.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
commonmark==0.9.1
docutils==0.20.1
future==0.18.3
greenlet==2.0.2
grpcio==1.56.2
grpcio-tools==1.56.2
idna==3.4
importlib-metadata==6.8.0
keyring==24.2.0
pkginfo==1.9.6
pycryptodome==3.18.0
Pygments==2.16.1
python-dateutil==2.8.2
pytz
readme-renderer==40.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.5.2
six==1.16.0
thrift==0.16.0
twine==4.0.2
urllib3==2.0.4
webencodings==0.5.1
zipp==3.16.2